In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
battles_file = "data/battles.csv"
battles_df = pd.read_csv(battles_file)
battles_df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [3]:
deaths_file = "data/character-deaths.csv"
deaths_df = pd.read_csv(deaths_file)
deaths_df.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [4]:
predictions_file = "data/character-predictions.csv"
predictions_df = pd.read_csv(predictions_file)
predictions_df.head()

,S.No,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
0,1,0,0,0.054,0.946,Viserys II Targaryen,NaN,1,NaN,NaN,...,0.0,NaN,0,0,NaN,11,1,1,0.605351,0
1,2,1,0,0.387,0.613,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,...,NaN,1.0,1,1,97.0,1,1,1,0.896321,1
2,3,1,0,0.493,0.507,Addison Hill,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.267559,1
3,4,0,0,0.076,0.924,Aemma Arryn,Queen,0,NaN,82.0,...,NaN,0.0,1,1,23.0,0,0,0,0.183946,0
4,5,1,1,0.617,0.383,Sylva Santagar,Greenstone,0,Dornish,276.0,...,NaN,1.0,1,1,29.0,0,0,0,0.043478,1

In [7]:
# Specify which columns from deaths_df we want
deaths_cols = ["Name", "Allegiances", "Death Year", "Book of Death", "Gender", "GoT", "CoK", "SoS", "FfC", "DwD"]
deaths_transformed = deaths_df[deaths_cols].copy()

# Rename the columns 
deaths_transformed = deaths_transformed.rename(columns={"Name": "CharacterName",
                                                        "Allegiances": "House",
                                                        "Death Year": "DeathYear",
                                                        "Book of Death": "Book_of_Death",
                                                        "Gender": "Gender",
                                                        "GoT": "Book1",
                                                        "CoK": "Book2",
                                                        "SoS": "Book3",
                                                        "FfC": "Book4",
                                                        "DwD": "Book5"
                                                        })

deaths_transformed.head(100)

,CharacterName,House,DeathYear,Book_of_Death,Gender,Book1,Book2,Book3,Book4,Book5
0,Addam Marbrand,Lannister,NaN,NaN,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,1,0,0,1,0,0
5,Aemon Estermont,Baratheon,NaN,NaN,1,0,1,1,0,0
6,Aemon Targaryen (son of Maekar I),Night's Watch,300.0,4.0,1,1,0,1,1,0
7,Aenys Frey,None,300.0,5.0,0,1,1,1,0,1
8,Aeron Greyjoy,House Greyjoy,NaN,NaN,1,0,1,0,1,0
9,Aethan,Night's Watch,NaN,NaN,1,0,0,1,0,0
10,Aggar,House Greyjoy,299.0,2.0,1,0,1,0,0,0
11,Aggo,House Targaryen,NaN,NaN,1,1,1,1,0,1
12,Alan of Rosby,Night's Watch,300.0,5.0,1,0,1,1,0,1
13,Alayaya,None,NaN,NaN,0,0,1,0,0,0
14,Albar Royce,Arryn,NaN,NaN,1,1,0,0,1,0
15,Albett,Night's Watch,NaN,NaN,1,1,0,0,0,0
16,Alebelly,House Stark,299.0,2.0,1,0,1,0,0,0
17,Alerie Hightower,House Tyrell,NaN,NaN,0,0,0,1,1,0
18,Alesander Staedmon,Baratheon,NaN,NaN,1,0,1,0,0,0
19,Alester Florent,Baratheon,300.0,4.0,1,0,1,1,0,0
20,Alia of Braavos,None,NaN,NaN,0,1,0,0,0,0
21,Alla Tyrell,House Tyrell,NaN,NaN,0,0,0,1,1,0
22,Allard Seaworth,Baratheon,299.0,2.0,1,0,1,0,0,0
23,Alliser Thorne,Night's Watch,NaN,NaN,1,1,1,1,0,1
24,Alyn,House Stark,298.0,3.0,1,1,0,0,0,0
25,Alyn Ambrose,Tyrell,NaN,NaN,1,0,1,0,1,0
26,Alyn Estermont,Baratheon,NaN,NaN,1,0,1,1,0,0
27,Alyn Stackspear,Lannister,NaN,NaN,1,0,0,0,1,0
28,Alys Karstark,Stark,NaN,NaN,0,0,0,0,0,1
29,Alysane Mormont,Stark,NaN,NaN,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
70,Bayard Norcross,Tyrell,NaN,NaN,1,0,0,0,1,0
71,Bearded Ben,Night's Watch,NaN,NaN,1,0,0,0,1,0
72,Becca,House Arryn,NaN,NaN,0,1,0,0,0,0
73,Becca the Baker,None,299.0,3.0,0,0,0,1,0,0
74,Bedwyck,Night's Watch,NaN,NaN,1,0,1,1,0,1
75,Belaquo,None,NaN,NaN,1,0,0,0,0,1
76,Bella,None,NaN,NaN,0,0,0,1,0,0
77,Bellegere Otherys (courtesan),None,NaN,NaN,0,0,0,0,1,0
78,Bellonara Otherys,None,NaN,NaN,0,0,0,0,1,0
79,Belwas,House Targaryen,NaN,NaN,1,0,1,1,0,1
80,Ben,None,NaN,NaN,1,0,0,0,1,0
81,Ben Bones,None,NaN,NaN,1,0,0,0,0,1
82,Ben Plumm,None,NaN,NaN,1,0,0,1,0,1
83,Benedar Belmore,Arryn,NaN,NaN,1,0,0,0,1,0
84,Benfred Tallhart,Stark,299.0,2.0,1,0,1,0,0,0
85,Benfrey Frey,None,299.0,5.0,1,0,0,1,0,0
86,Benjen Stark,Night's Watch,298.0,1.0,1,1,0,0,0,0
87,Bennet,None,300.0,4.0,1,0,0,0,1,0
88,Beric Dondarrion,None,300.0,4.0,1,1,0,1,0,0
89,Bessa (Winterfell),Stark,NaN,NaN,0,1,0,0,0,0
90,Beth Cassel,Stark,NaN,NaN,0,1,1,0,0,0
91,Bhakaz zo Loraq,None,NaN,NaN,1,0,0,0,0,1
92,Big Boil,Wildling,NaN,NaN,1,0,0,1,0,0
93,Big Walder Frey,None,NaN,NaN,1,1,1,0,0,1
94,Biter,None,300.0,4.0,1,0,1,0,1,0
95,Black Bernarr,Night's Watch,NaN,NaN,1,0,0,1,0,1
96,Black Walder Frey,None,NaN,NaN,1,0,0,1,0,0
97,Blane,Night's Watch,NaN,NaN,1,0,1,0,0,0
98,Bloodbeard,None,NaN,NaN,1,0,0,0,0,1
99,Blue Bard,House Tyrell,NaN,NaN,1,0,0,0,1,0

In [10]:
# Specify which columns from deaths_df we want
battles_cols = ["name", "battle_number", "year", "attacker_1", "defender_1", "attacker_outcome"]
battles_transformed = battles_df[battles_cols].copy()

# Rename the columns 
battles_transformed = battles_transformed.rename(columns={"name": "BattleName",
                                                          "battle_number": "Battle_ID",
                                                          "year": "Battle_Year",
                                                          "attacker_1": "Attacker",
                                                          "defender_1": "Defender",
                                                          "attacker_outcome": "Attacker_Outcome"
                                                        })
battles_transformed.head(100)

,BattleName,Battle_ID,Battle_Year,Attacker,Defender,Attacker_Outcome
0,Battle of the Golden Tooth,1,298,Lannister,Tully,win
1,Battle at the Mummer's Ford,2,298,Lannister,Baratheon,win
2,Battle of Riverrun,3,298,Lannister,Tully,win
3,Battle of the Green Fork,4,298,Stark,Lannister,loss
4,Battle of the Whispering Wood,5,298,Stark,Lannister,win
5,Battle of the Camps,6,298,Stark,Lannister,win
6,Sack of Darry,7,298,Lannister,Darry,win
7,Battle of Moat Cailin,8,299,Greyjoy,Stark,win
8,Battle of Deepwood Motte,9,299,Greyjoy,Stark,win
9,Battle of the Stony Shore,10,299,Greyjoy,Stark,win
10,Battle of Torrhen's Square,11,299,Stark,Greyjoy,win
11,Battle of Winterfell,12,299,Greyjoy,Stark,win
12,Sack of Torrhen's Square,13,299,Greyjoy,Stark,win
13,Sack of Winterfell,14,299,Bolton,Stark,win
14,Battle of Oxcross,15,299,Stark,Lannister,win
15,Siege of Storm's End,16,299,Baratheon,Baratheon,win
16,Battle of the Fords,17,299,Lannister,Tully,loss
17,Sack of Harrenhal,18,299,Stark,Lannister,win
18,Battle of the Crag,19,299,Stark,Lannister,win
19,Battle of the Blackwater,20,299,Baratheon,Lannister,loss
20,Siege of Darry,21,299,Darry,Lannister,win
21,Battle of Duskendale,22,299,Stark,Lannister,loss
22,Battle of the Burning Septry,23,299,Brotherhood without Banners,Brave Companions,win
23,Battle of the Ruby Ford,24,299,Lannister,Stark,win
24,Retaking of Harrenhal,25,299,Lannister,Brave Companions,win
25,The Red Wedding,26,299,Frey,Stark,win
26,Siege of Seagard,27,299,Frey,Mallister,win
27,Battle of Castle Black,28,300,Free folk,Night's Watch,loss
28,Fall of Moat Cailin,29,300,Bolton,Greyjoy,win
29,Sack of Saltpans,30,300,Brave Companions,NaN,win
30,Retaking of Deepwood Motte,31,300,Baratheon,Greyjoy,win
31,Battle of the Shield Islands,32,300,Greyjoy,Tyrell,win
32,"Invasion of Ryamsport, Vinetown, and Starfish ...",33,300,Greyjoy,Tyrell,win
33,Second Seige of Storm's End,34,300,Baratheon,Baratheon,win
34,Siege of Dragonstone,35,300,Baratheon,Baratheon,win
35,Siege of Riverrun,36,300,Lannister,Tully,win
36,Siege of Raventree,37,300,Bracken,Blackwood,win
37,Siege of Winterfell,38,300,Baratheon,Bolton,NaN